@include fontfamily (SegoeUI-Light);

:focus{outline:none;}
html,
body {
  height: 100%;

  
}
html {
  background: url($img_tmp + 'page_bg.jpg') fixed;
  background-size: cover;
  font-family: elektra_light_proregular, sans-serif;
  color:$text_color;
  font-size: 15px;
}
ul {
	margin-right: 0;
	padding:0;
}
li{
  list-style: none;
}

a {
	color:$link_color;
	&:hover{
		color:$link_color_hover;
	}
}


.no-borderimage {
	select {
		padding-right: 0;
		background: none;	
	}

}


.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow:auto;
  text-align: center;

  @extend .clearfix;
  &:after {
  	content:'';
  	 display: inline-block;
    height: 100%;
    widht:0;
    vertical-align: middle;
  }
}

.page {
	text-align: left;
	position: relative;
	max-width: $page_width;
	min-width: $page_width;
	margin:auto;
	// padding-bottom: $footer_height + 80;
	display: inline-block;
	vertical-align:middle;
	height: $app_height;
	z-index:10;
	@extend .clearfix;
}

.main {
	@extend .clearfix;
	width: $main_width;
	float: left;
	background: $main_bg_color;
	height: $app_height;
	box-sizing: border-box;
	padding: $global_padding;
}


.main__title {
	font-size: 36px;
	font-family: SegoeUI-Light, arial;
	color:#fff;
	font-weight: normal;
	margin: 0;
	line-height: 36px;
	margin-bottom: 55px;
}

.sidebar {
	width: $sidebar_width;
	background: $sidebar_bg_color;
	height: $app_height;
	box-sizing: border-box;
	padding: $sidebar_padding;
}

.sidebar_right{
	float:right;
}


.image-container {
	width:650px;
	height:534px;
	overflow:auto;
	background:#ff0000;
	text-align: center;
	position:relative;
	// &:after{
	//   	content:'';
	//   	display: inline-block;
	//     height: 100%;
	//     vertical-align: middle;
	//     width:0;
	// }
}
.image-container__workspace {
	width:650px;
	height:534px;	
	display:table-cell;
	vertical-align: middle;
}
.image-container__main-image {
	display:inline-block;
	position: relative;
}
.image-container__watermark {
	position:absolute;
	top:0;
	left:0;
}
