@include fontfamily(roboto-light-webfont);
.settings__title {
  color: $text_color;
  text-align: center;
  font-size: 26px;
  font-family: SegoeUI-Light, arial;
  line-height: 36px;
  vertical-align: text-bottom;
  margin-bottom: 27px;
  padding-top:4px;
}

.form__item {
  position: relative;
  margin-bottom: 20px;
}


.form__label {
  font-size: 14px;
  color: $text_color;
  font-family: roboto-light-webfont, arial;
  display: block;
  text-align: left;
}

.form__file {
  width: 100%;
  max-width: 188px;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box; 
}

.form__file-label {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index:10;
  text-align:left;
  background:#fff;
  cursor:pointer;
  width: 100%;
  border: 1px solid #9EB2C0;
  border-radius: 3px;
  padding: 5px 39px 6px 4px;
  white-space: nowrap;
  box-sizing: border-box;
  color: #9EB2C0;
  font-size: 12px;
  font-family: arial;
  &:after {
    content:'';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 39px;
    height: 27px;
    background: url($img_tmp + 'upload.png') no-repeat;
  }
}