$img_tmp: "../img/";
$fonts_tmp: "../fonts/";

$page_width: 960px;
$main_width: 700px;
$sidebar_width: 260px;

$app_height: 670px;

$global_padding: 25px;
$sidebar_padding:19px;

$text_color: #2E3641;

$link_color: #00B9FE;
$link_color_hover: #613993;

$footer_color:#fff;
$footer_link_color:#fff;

$border_color: #DAE1EB;

$hover_bg_color: #DCE6F0;

$main_bg_color: #6A6664;
$sidebar_bg_color: #F1F1F5;





$header_height: 120px;
$footer_height: 70px;
