.clearfix:after, .wrapper:after, .page:after, .main:after, .clearfix:before, .wrapper:before, .page:before, .main:before {
  content: " ";
  display: table; }

.clearfix:after, .wrapper:after, .page:after, .main:after {
  clear: both; }

@font-face {
  font-family: SegoeUI-Light;
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  background: url("../img/page_bg.jpg") fixed;
  background-size: cover;
  font-family: elektra_light_proregular, sans-serif;
  color: #2E3641;
  font-size: 15px; }

ul {
  margin-right: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #00B9FE; }
  a:hover {
    color: #613993; }

.no-borderimage select {
  padding-right: 0;
  background: none; }

.browserupgrade {
  position: fixed;
  top: 0;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  background: #ff0000;
  width: 100%;
  text-align: center; }
  .browserupgrade a {
    color: #000; }
    .browserupgrade a:hover {
      color: #fff; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center; }
  .wrapper:after {
    content: '';
    display: inline-block;
    height: 100%;
    widht: 0;
    vertical-align: middle; }

.page {
  text-align: left;
  position: relative;
  max-width: 960px;
  min-width: 960px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  height: 670px;
  z-index: 10; }

.main {
  width: 700px;
  float: left;
  background: #6A6664;
  height: 670px;
  box-sizing: border-box;
  padding: 25px; }

.main__title {
  font-size: 36px;
  font-family: SegoeUI-Light, arial;
  color: #fff;
  font-weight: normal;
  margin: 0;
  line-height: 36px;
  margin-bottom: 55px; }

.sidebar {
  width: 260px;
  background: #F1F1F5;
  height: 670px;
  box-sizing: border-box;
  padding: 19px; }

.sidebar_right {
  float: right; }

.image-container {
  width: 650px;
  height: 534px;
  background: url("../img/workspace.png");
  text-align: center;
  position: relative;
  font-size: 0; }

.image-container__workspace {
  width: 650px;
  height: 534px;
  display: table-cell;
  vertical-align: middle; }

.image-container__main-image {
  display: inline-block;
  position: relative;
  overflow: hidden; }

.image-container__watermark {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move; }

@font-face {
  font-family: roboto-light-webfont;
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#roboto-light-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

.settings__title {
  color: #2E3641;
  text-align: center;
  font-size: 26px;
  font-family: SegoeUI-Light, arial;
  line-height: 36px;
  vertical-align: text-bottom;
  margin-bottom: 33px;
  padding-top: 4px; }

.settings__upload, .settings__position, .settings__opacity {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative; }
  .settings__upload:after, .settings__position:after, .settings__opacity:after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: -19px;
    width: 259px;
    height: 11px;
    background: url("../img/separator.png") no-repeat; }

.settings__upload {
  padding-bottom: 10px; }

.settings__section-title {
  margin-bottom: 30px; }

.settings__form-item {
  position: relative;
  margin-bottom: 20px; }

.settings__form-label, .settings__section-title {
  font-size: 14px;
  color: #2E3641;
  font-family: roboto-light-webfont, arial;
  display: block;
  text-align: left; }

.settings__form-file {
  width: 100%;
  max-width: 188px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box; }

.settings__form-file-label {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: left;
  background: #fff;
  cursor: pointer;
  width: 100%;
  border: 1px solid #9EB2C0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 39px 6px 4px;
  white-space: nowrap;
  box-sizing: border-box;
  color: #9EB2C0;
  font-size: 12px;
  font-family: arial;
  overflow: hidden; }
  .settings__form-file-label:after {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 39px;
    height: 29px;
    background: url("../img/upload.png") no-repeat; }

.settings__position-buttons {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #B0C0CC;
  font-size: 0;
  width: 101px;
  height: 101px;
  display: inline-block;
  vertical-align: top; }

.settings__position-button {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-right: 1px solid #B0C0CC;
  border-bottom: 1px solid #B0C0CC;
  background: #DBE1E8; }
  .settings__position-button:nth-child(3n) {
    border-right: 0; }

.settings__position-button_bottom-left, .settings__position-button_bottom-center, .settings__position-button_bottom-right {
  border-bottom: 0; }

.settings__position-button_current {
  background: #FFA7A1; }

.settings__position .settings__form-items {
  vertical-align: top;
  display: inline-block;
  margin-left: 14px; }

.settings__position .settings__form-item {
  margin-bottom: 15px; }

.settings__position_arrows {
  display: inline-block;
  margin: 3px 0 0 6px; }

.settings__form-label-position {
  display: inline-block;
  vertical-align: top;
  font-family: roboto-light-webfont, time news roman;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 44px;
  margin-right: 8px;
  position: relative; }

.settings__text-position {
  vertical-align: top;
  display: inline-block;
  font-family: SegoeUI-Light, arial;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #B0C0CC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 42px;
  text-align: center; }

.settings__arrow-up, .settings__arrow-down {
  cursor: pointer;
  width: 13px;
  height: 19px;
  background: url("../img/arrows.png") no-repeat; }

.settings__arrow-up {
  background-position: 0 0; }
  .settings__arrow-up:hover {
    background-position: -13px 0px; }

.settings__arrow-down {
  background-position: 0 bottom; }
  .settings__arrow-down:hover {
    background-position: -13px bottom; }

.ui-slider-horizontal {
  height: 3px;
  background: #DBE1E8;
  border: 0; }

.ui-slider-range {
  background: #9EB2C0; }

.ui-slider-handle {
  width: 7px !important;
  height: 7px !important;
  top: -9px !important;
  border: 6px solid #DBE1E8 !important;
  background: #9EB2C0 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px #B9BABD;
  -moz-box-shadow: 0 1px 2px #B9BABD;
  box-shadow: 0 1px 2px #B9BABD;
  cursor: pointer !important; }

.ui-slider-handle.ui-state-hover, .ui-slider-handle.ui-state-active {
  background: #F97E76 !important; }

.settings__download {
  margin: 0 -11px;
  padding-top: 42px; }

.settings__button {
  position: relative;
  top: 0;
  line-height: 42px;
  height: 42px;
  font-size: 18px;
  width: 100px;
  background: #C1CFD9;
  color: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0 4px 0 #b0bec8;
  -moz-box-shadow: 0 4px 0 #b0bec8;
  box-shadow: 0 4px 0 #b0bec8; }

@font-face {
  .settings__button {
    font-family: roboto-medium-webfont;
    src: url("../fonts/roboto-medium-webfont.eot");
    src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#roboto-medium-webfont") format("svg");
    font-weight: normal;
    font-style: normal; } }
  .settings__button:hover {
    background: #d2e0ea; }
  .settings__button:active {
    top: 4px;
    -webkit-box-shadow: 0 0 0 #b0bec8;
    -moz-box-shadow: 0 0 0 #b0bec8;
    box-shadow: 0 0 0 #b0bec8; }

.settings__button_download {
  background: #F97E76;
  margin-left: 39px;
  -webkit-box-shadow: 0 4px 0 #e86d65;
  -moz-box-shadow: 0 4px 0 #e86d65;
  box-shadow: 0 4px 0 #e86d65; }
  .settings__button_download:hover {
    background: #ffa098; }
  .settings__button_download:active {
    -webkit-box-shadow: 0 0 0 #e86d65;
    -moz-box-shadow: 0 0 0 #e86d65;
    box-shadow: 0 0 0 #e86d65; }

@font-face {
  font-family: firasans-light;
  src: url("../fonts/firasans-light.eot");
  src: url("../fonts/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light.woff2") format("woff2"), url("../fonts/firasans-light.woff") format("woff"), url("../fonts/firasans-light.ttf") format("truetype"), url("../fonts/firasans-light.svg#firasans-light") format("svg");
  font-weight: normal;
  font-style: normal; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  width: 100%; }

.footer__copy {
  padding: 25px;
  font-family: firasans-light; }

@font-face {
  font-family: SegoeUI-Light;
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.navigation {
  position: absolute;
  left: 0;
  top: 20%; }

.langs_nav {
  margin-bottom: 18px; }

.langs_nav-link {
  display: block;
  width: 43px;
  height: 31px;
  background-color: rgba(241, 241, 245, 0.702);
  text-decoration: none;
  font-family: SegoeUI-Light;
  font-size: 20px;
  text-align: center;
  color: #8e9298;
  padding-top: 3px; }

.langs_nav-link:hover {
  color: #444a53; }

.chosen-lang {
  color: white; }

.chosen-lang:hover {
  color: white;
  cursor: default; }

.langs_nav-item {
  border-bottom: 1px solid #a5a8ac;
  width: 43px; }

.langs_nav-item:last-child {
  border: none; }

.socials_like-link, .socials_inner-link {
  display: table-cell;
  width: 43px;
  height: 41px;
  background-color: rgba(241, 241, 245, 0.702);
  vertical-align: middle; }

.socials_inner-icon {
  left: 0;
  right: 0;
  margin: auto; }

.socials_like-icon {
  left: 0;
  right: 0;
  margin: auto; }

.socials_like {
  position: absolute;
  width: 44px;
  height: 41px;
  margin-left: 42.5px; }

.socials_like-link {
  width: 44px; }

.socials_inner {
  width: 43px; }

.socials {
  max-height: 180px;
  max-width: 88px;
  margin-left: -43px; }

.sprite {
  background-image: url(/img/socials.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-fb {
  width: 16px;
  height: 28px;
  background-position: -10px -10px; }

.sprite-fb-active {
  width: 16px;
  height: 28px;
  background-position: -45px -10px; }

.sprite-like {
  width: 27px;
  height: 32px;
  background-position: -80px -10px; }

.sprite-like-active {
  width: 27px;
  height: 32px;
  background-position: -10px -62px; }

.sprite-tw {
  width: 28px;
  height: 23px;
  background-position: -56px -62px; }

.sprite-tw-active {
  width: 28px;
  height: 23px;
  background-position: -126px -10px; }

.sprite-vk {
  width: 32px;
  height: 19px;
  background-position: -126px -52px; }

.sprite-vk-active {
  width: 32px;
  height: 19px;
  background-position: -104px -90px; }
