.clearfix:after, .wrapper:after, .page:after, .main:after, .clearfix:before, .wrapper:before, .page:before, .main:before {
  content: " ";
  display: table; }

.clearfix:after, .wrapper:after, .page:after, .main:after {
  clear: both; }

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block; }

.font-size-zero {
  font-size: 0; }

@font-face {
  font-family: SegoeUI-Light;
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  background: url("../img/page_bg.jpg") fixed;
  background-size: cover;
  font-family: elektra_light_proregular, sans-serif;
  color: #2E3641;
  font-size: 15px; }

ul {
  margin-right: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #00B9FE; }
  a:hover {
    color: #613993; }

.no-borderimage select {
  padding-right: 0;
  background: none; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center; }
  .wrapper:after {
    content: '';
    display: inline-block;
    height: 100%;
    widht: 0;
    vertical-align: middle; }

.page {
  text-align: left;
  position: relative;
  max-width: 960px;
  min-width: 960px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  height: 670px;
  z-index: 10; }

.main {
  width: 700px;
  float: left;
  background: #6A6664;
  height: 670px;
  box-sizing: border-box;
  padding: 25px; }

.main__title {
  font-size: 36px;
  font-family: SegoeUI-Light, arial;
  color: #fff;
  font-weight: normal;
  margin: 0;
  line-height: 36px;
  margin-bottom: 55px; }

.sidebar {
  width: 260px;
  background: #F1F1F5;
  height: 670px;
  box-sizing: border-box;
  padding: 25px; }

.sidebar_right {
  float: right; }

.image-container {
  width: 650px;
  height: 534px;
  overflow: auto;
  background: #ff0000;
  text-align: center;
  position: relative; }

.image-container__workspace {
  width: 650px;
  height: 534px;
  display: table-cell;
  vertical-align: middle; }

.image-container__main-image {
  display: inline-block;
  position: relative; }

.image-container__watermark {
  position: absolute;
  top: 0;
  left: 0; }

@font-face {
  font-family: roboto-light-webfont;
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#roboto-light-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

.settings__title {
  color: #2E3641;
  text-align: center;
  font-size: 26px;
  font-family: SegoeUI-Light, arial;
  line-height: 36px;
  vertical-align: text-bottom;
  margin-bottom: 27px;
  padding-top: 4px; }

.form__item {
  position: relative;
  margin-bottom: 20px; }

.form__label {
  font-size: 14px;
  color: #2E3641;
  font-family: roboto-light-webfont, arial;
  display: block;
  text-align: left; }

.form__file {
  width: 100%;
  max-width: 188px;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box; }

.form__file-label {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: left;
  background: #fff;
  cursor: pointer;
  width: 100%;
  border: 1px solid #9EB2C0;
  border-radius: 3px;
  padding: 5px 39px 6px 4px;
  white-space: nowrap;
  box-sizing: border-box;
  color: #9EB2C0;
  font-size: 12px;
  font-family: arial; }
  .form__file-label:after {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 39px;
    height: 27px;
    background: url("../img/upload.png") no-repeat; }

@font-face {
  font-family: firasans-light;
  src: url("../fonts/firasans-light.eot");
  src: url("../fonts/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light.woff2") format("woff2"), url("../fonts/firasans-light.woff") format("woff"), url("../fonts/firasans-light.ttf") format("truetype"), url("../fonts/firasans-light.svg#firasans-light") format("svg");
  font-weight: normal;
  font-style: normal; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  width: 100%; }

.footer__copy {
  padding: 25px;
  font-family: firasans-light; }
